In [2]:
import pandas as pd
inventory = pd.read_csv(r"C:\Users\user\Downloads\products-100.csv")
inventory.head()

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265.0,USD,774,2.091470e+12,ForestGreen,Large,pre_order,56
1,2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,NaN,USD,81,5.286200e+12,Black,8x10 in,in_stock,29
2,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227.0,USD,726,1.282900e+12,SlateGray,XS,in_stock,70
3,4,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,NaN,USD,896,3.879180e+12,PaleGreen,L,discontinued,31
4,5,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1.0,USD,925,9.055770e+12,SeaShell,100x200 mm,discontinued,10

In [4]:
print("to print missing values in each column")
print(inventory.isnull().sum())

to print missing values in each column
Index           0
Name            0
Description     0
Brand           0
Category        0
Price           3
Currency        0
Stock           0
EAN             0
Color           0
Size            0
Availability    0
Internal ID     0
dtype: int64

In [6]:
#handling the missing values by filling it with the median of values
inventory['Price']=inventory['Price'].fillna(inventory['Price'].median())

In [7]:
print("to print missing values in each column")
print(inventory.isnull().sum())
# Every column will be filled

to print missing values in each column
Index           0
Name            0
Description     0
Brand           0
Category        0
Price           0
Currency        0
Stock           0
EAN             0
Color           0
Size            0
Availability    0
Internal ID     0
dtype: int64

In [8]:
#to check duplicates
print(inventory.duplicated().sum())

0

In [11]:
inventory=inventory.drop_duplicates()
#to drop duplicates if any

In [12]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         100 non-null    int64
 1   Name          100 non-null    object
 2   Description   100 non-null    object
 3   Brand         100 non-null    object
 4   Category      100 non-null    object
 5   Price         97 non-null     float64
 6   Currency      100 non-null    object
 7   Stock         100 non-null    int64
 8   EAN           100 non-null    float64
 9   Color         100 non-null    object
 10  Size          100 non-null    object
 11  Availability  100 non-null    object
 12  Internal ID   100 non-null    int64
dtypes: float64(2), int64(3), object(8)
memory usage: 10.3+ KB

In [15]:
#type conversion
inventory['Stock']=inventory['Stock'].astype(float)

In [16]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         100 non-null    int64
 1   Name          100 non-null    object
 2   Description   100 non-null    object
 3   Brand         100 non-null    object
 4   Category      100 non-null    object
 5   Price         97 non-null     float64
 6   Currency      100 non-null    object
 7   Stock         100 non-null    float64
 8   EAN           100 non-null    float64
 9   Color         100 non-null    object
 10  Size          100 non-null    object
 11  Availability  100 non-null    object
 12  Internal ID   100 non-null    int64
dtypes: float64(3), int64(2), object(8)
memory usage: 10.3+ KB

In [18]:
#ensuring price  is never negative
inventory=inventory[inventory['Price']>=0]

In [19]:
#veiw cleaned DataFrame 
inventory

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265.0,USD,774.0,2.091470e+12,ForestGreen,Large,pre_order,56
2,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227.0,USD,726.0,1.282900e+12,SlateGray,XS,in_stock,70
4,5,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1.0,USD,925.0,9.055770e+12,SeaShell,100x200 mm,discontinued,10
5,6,Radio,Character prove growth contain serious customer.,"Benjamin, Nelson and Hancock",Skincare,426.0,USD,549.0,1.150030e+12,CornflowerBlue,30x40 cm,pre_order,60
6,7,Ultra Projector Oven Thermostat Prime Advanced,Pattern possible look necessary indicate work ...,"Mccoy, Waters and Rose",Laptops & Computers,68.0,USD,870.0,5.029750e+12,Purple,S,discontinued,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Router,Investment everything story buy.,Atkinson Inc,Laptops & Computers,375.0,USD,703.0,3.330400e+12,Gainsboro,8x10 in,limited_stock,55
96,97,Fast Thermostat Microphone Scooter,Nature notice themselves news.,Shea Ltd,Beauty & Personal Care,289.0,USD,727.0,9.265400e+12,White,Extra Large,backorder,25
97,98,Eco Heater Toaster Stove Silent Sense,Understand still or summer rule.,West Ltd,Cleaning Supplies,232.0,USD,998.0,5.505870e+12,OldLace,Small,limited_stock,20
98,99,Clean Blender Scale Lite,Final art some push.,"Bell, Gamble and Barrett",Camping & Hiking,241.0,USD,391.0,3.893590e+12,Aquamarine,5x7 in,limited_stock,5
99,100,Smart Lamp,However public major baby.,"Hebert, Hughes and Trujillo",Bedding & Bath,71.0,USD,518.0,8.264260e+12,Brown,Medium,limited_stock,3